@import url(http://fonts.googleapis.com/css?family=Calligraffitti)
@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,300,700)

#warning
  // Position
  position: absolute
  top: 0px
  right: 0px
  width: 100%
  height: 100%
  padding: 30px

  // Background
  background: rgba(0, 0, 0, 0.8)

  // Font
  font-size: 18pt
  font-family: 'Open Sans'
  font-weight: 300

  #content
    header
      p
        font-size: 24pt
        font-family: 'Calligraffitti'

    p
      text-align: justify
      line-height: 1.8em

      &.more
        text-align: center

    border: 3px solid rgb(180, 0, 0)
    padding: 30px
    width: 800px
    margin: auto
    background: white

  footer
    font-size: 12pt

    ul
      text-align: center
      li
        display: inline
        margin: 0px 10px 0px 10px

        &.who
          a
            font-weight: bold

      &:after
        content: '.'
        clear: both
        visibility: hidden

    .made-with-love
      margin-top: 20px
      text-align: center

      .heart
        color: #dd4299
